{{#> navbar}}
  <div class="header">
    <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logo" href="/">COVID-19 Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" onsubmit="onSubmit();return false;">
          <input list="countries" name="country" id="country" class="form-control mr-sm-2" type="search" placeholder="Select a country" aria-label="Search">
          
          <datalist id="countries">
            {{#each countryData}}
            <option value="{{convert this.country}}">
            {{/each}}
          </datalist>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form action="/uk">
          <button style="margin-left: 10px;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Go to UK data</button>
        </form>
    </div>
  </div>
<script>
  function onSubmit() {
    var country = document.getElementById('country').value;
    var countryID = convert(country)
    window.location.replace('/country/' + countryID);
    return
  }
</script>
<script>
  function convert(name) {
    const lookup = {
        'Antigua and Barbuda': 'Antigua_and_Barbuda',
        'Bosnia and Herzegovina': 'Bosnia_and_Herzegovina',
        'British Virgin Islands': 'British_Virgin_Islands',
        'Brunei Darussalam': 'Brunei_Darussalam',
        'Burkina Faso': 'Burkina_Faso',
        'Cape Verde': 'Cape_Verde',
        'Cayman Islands': 'Cayman_Islands',
        'Central African Republic': 'Central_African_Republic',
        'Costa Rica': 'Costa_Rica',
        "Cote d'Ivoire": 'Cote_dIvoire',
        'Democratic Republic of the Congo': 'Democratic_Republic_of_the_Congo',
        'Dominican Republic': 'Dominican_Republic',
        'El Salvador': 'El_Salvador',
        'Equatorial Guinea': 'Equatorial_Guinea',
        'Falkland Islands': 'Falkland_Islands_(Malvinas)',
        'Faroe Islands': 'Faroe_Islands',
        'French Polynesia': 'French_Polynesia',
        'Guinea Bissau': 'Guinea_Bissau',
        'Holy See': 'Holy_See',
        'Isle of Man': 'Isle_of_Man',
        'New Caledonia': 'New_Caledonia',
        'New Zealand': 'New_Zealand',
        'North Macedonia': 'North_Macedonia',
        'Northern Mariana Islands': 'Northern_Mariana_Islands',
        'Papua New Guinea': 'Papua_New_Guinea',
        'Puerto Rico': 'Puerto_Rico',
        'Saint Kitts and Nevis': 'Saint_Kitts_and_Nevis',
        'Saint Lucia': 'Saint_Lucia',
        'Saint Vincent and the Grenadines': 'Saint_Vincent_and_the_Grenadines',
        'San Marino': 'San_Marino',
        'Sao Tome and Principe': 'Sao_Tome_and_Principe',
        'Saudi Arabia': 'Saudi_Arabia',
        'Sierra Leone': 'Sierra_Leone',
        'Sint Maarten': 'Sint_Maarten',
        'South Africa': 'South_Africa',
        'South Korea': 'South_Korea',
        'South Sudan': 'South_Sudan',
        'Sri Lanka': 'Sri_Lanka',
        'Timor Leste': 'Timor_Leste',
        'Trinidad and Tobago': 'Trinidad_and_Tobago',
        'Turks and Caicos islands': 'Turks_and_Caicos_islands',
        'United Arab Emirates': 'United_Arab_Emirates',
        'United Kingdom': 'United_Kingdom',
        'United Republic of Tanzania': 'United_Republic_of_Tanzania',
        'United States of America': 'United_States_of_America',
        'United States Virgin Islands': 'United_States_Virgin_Islands',
        'Western Sahara': 'Western_Sahara'
      }
    
    if(name in lookup) {
        const id = lookup[name];
        return id
    }
    else {
        return name
    }
}
</script>
{{/navbar}}