.dataTables_wrapper {
  width:100%
}

.header {
    overflow: hidden;
    background-color: #2C3E50;
    padding: 15px 10px;
    
  }

.sub-header {
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: white;
  line-height: 2rem;
  margin: auto;
  text-align: center;
}

.sub-header .country-button {
  background-color: white;
  border: none;
  box-shadow: none;
  padding-right: 20px;
  cursor: pointer;
  display: inline-block;
}

.menu-flag {
  height: 20px;
}

@media (max-width: 991px) {
  .column-margin {
    margin: 1rem 0;
  }
}

.info-box {
  border-radius: 15px;
  padding: 20px;
  background-color:#72e0a0; /* Red */
  color: white;
  
}
  
.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.header a.logo {
    font-size: 25px;
  }

  
.header-right {
    float: right;
  }
  
.body {
  background-color: gray;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.chart {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  height: 400px;
  width:100%;
  margin-bottom: 20px;
}

.UKchart {
  height: 500px;
  width:100%;
  margin-bottom: 20px;
}

#ukMap {
  height: 800px;
}

div.stickySidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.question {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.answer {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  margin-bottom: 10px;
  height: 80px;
  white-space: nowrap;
}


.card .container {
  margin: auto;
}

.card p {
  text-align: center;
  margin-bottom: 0;
}

.card .cardTitle {
  text-align: center;
}

.card .data {
  font-size: 22px;
  font-weight: bold;
}

.card h5 {
  text-align: center;
}

.card-subtitle {
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.worldCard {
  text-align: center;
  border-radius: 10px;
}

.worldCard .data{
  font-weight: bold;
  font-size: 26px;
}

.worldCard .cardtitle {
  margin-bottom: 0rem;
}

.worldCard .titledata {
  vertical-align: middle;
}

.col-md.leftCard {
  padding-left: 250px;
  padding-right: 0px;
}

.col-md.rightCard {
  padding-right: 250px;
  padding-left: 0px;
}

#regBtnCon {
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

.regionalBtn {
  background-color: #47A8F5; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
}

.regionalBtn:hover {
  background-color: #2d97eb; 
  cursor: pointer;
}

.regionalBtn:focus {
  outline: none;
}


@media screen and (max-width: 992px) {
  .col-md.leftCard {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-md.rightCard {
    padding-right: 0px;
    padding-left: 0px;
  }
}


@media screen and (max-width: 600px) {
  .col-md.leftCard {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-md.rightCard {
    padding-right: 0px;
    padding-left: 0px;
  }
}

#deathChart {
  width: 100%
}

#casesChart {
  width: 100%
}

.charts {
  width: 100%
}

#lastUpdatedDiv {
  text-align: center;
  margin: auto;
}

#lastUpdatedDiv p {
  text-align: center;
  margin: auto;
  font-style: italic;
}

.update {
  -webkit-animation: 1.5s blink ease infinite;
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.5s blink ease infinite;
  -o-animation: 1.5s blink ease infinite;
  animation: 1.5s blink ease infinite;
  
}

footer {
  padding-bottom: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

