.dataTables_wrapper {
  width:100%
}

.header {
    overflow: hidden;
    background-color: #2C3E50;
    padding: 15px 10px;
    
  }

.sub-header {
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: white;
  line-height: 1.5rem;
}

.sub-header p {
  text-align: center;
}

@media (max-width: 991px) {
  .column-margin {
    margin: 1rem 0;
  }
}
  
.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.header a.logo {
    font-size: 25px;
  }

  
.header-right {
    float: right;
  }
  
.body {
  background-color: gray;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.chart {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
}

.question {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.answer {
  font-family: Arial, Helvetica, sans-serif;
}

.worldCard {
  text-align: center;
  border-radius: 10px;
}

.worldCard .data{
  font-weight: bold;
  font-size: 26px;
}

.worldCard .cardtitle {
  margin-bottom: 0rem;
}

.worldCard .titledata {
  vertical-align: middle;
}

.col-md.leftCard {
  padding-left: 250px;
  padding-right: 0px;
}

.col-md.rightCard {
  padding-right: 250px;
  padding-left: 0px;
}


@media screen and (max-width: 992px) {
  .col-md.leftCard {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-md.rightCard {
    padding-right: 0px;
    padding-left: 0px;
  }
}


@media screen and (max-width: 600px) {
  .col-md.leftCard {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-md.rightCard {
    padding-right: 0px;
    padding-left: 0px;
  }
}

#deathChart {
  width: 100%
}

#casesChart {
  width: 100%
}

.charts {
  width: 100%
}


.cardTitle {
  font-weight: bold;
}

.update {
  -webkit-animation: 1.5s blink ease infinite;
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.5s blink ease infinite;
  -o-animation: 1.5s blink ease infinite;
  animation: 1.5s blink ease infinite;
  
}

footer {
  padding-bottom: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}